<!DOCTYPE html>
<html lang="en" ng-app="fourth">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search User (04)</title>
  <!-- include global css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- include global js -->
  <script src="assets/js/angular/angular.min.js"></script>
  <!-- include global jQuery -->
  <script src="assets/js/jQuery/jquery.min.js"></script>

  <!-- include main angular module -->
  <script src="script.js"></script>
</head>

<body ng-controller="MainCtrl">
  <h1>{{message}}</h1>

  <div>
    {{error}}
  </div>

  <div name="searchUser">
    <input type="search" placeholder="Username to find" ng-model="username" >
    <input type="submit" value="search" ng-click="search()">
  </div>

  <div>
    <h2>{{user.name}}</h2> 
    <img width="100px" height="100px" ng-src="{{user.avatar_url}}" alt="" title="{{user.name}}">
  </div>
  
</body>


</html>